@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Indie Flower';
  background-color: #c4dfff;
}
#main {
  margin-right: 30%;
}
.header {
  color: white;
  font-size: 5rem;
  margin: 1rem;
}

.pokemons {
  display: flex;
  align-items: center;
  justify-content: center;

}
.pokemon {
  background-color: #fff;
  height: 12rem;
  width: 12rem;
  padding-top: 1.5rem;
  margin: 2rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 1);
  outline: 0 !important;
}

#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.randomize_btn {
  width: 10rem;
  height: 2rem;
  outline: 0 !important;
  border-radius: 1rem;
  margin: 1rem;
  font-family: 'Indie Flower';
  font-size: 1rem;
}
